.c-carousel {
}

.c-carousel.slick-dotted.slick-slider {
  margin-bottom: 7rem;
}
.c-carousel .slick-dots {
  bottom: -60px;
}
.c-carousel .slick-dots li button {
  width: 13px;
  height: 13px;
  border-radius: 50%;

  opacity: 1;

  background-color: var(--primary-color);
}

.c-carousel .slick-dots li.slick-active button {
  background-color: var(--support-color);
}

.c-carousel .slick-dots li.slick-active button::before,
.c-carousel .slick-dots li button::before {
  color: transparent;
}

.c-carousel .slick-prev {
  left: -70px;
}
.c-carousel .slick-next {
  right: -50px;
}

.c-carousel .slick-next::before,
.c-carousel .slick-prev::before {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: var(--support-color);
  font-size: 30px;
  opacity: 1;
}

.c-carousel .slick-next::before {
  content: "\e901";
}

.c-carousel .slick-prev::before {
  content: "\e902";
}
.c-carousel p {
  font-size: var(--font-s-body);
  color: var(--primary-color);
  text-align: center;
}

@media screen and (max-width: 991px) {
  .c-carousel p {
    text-align: center;
  }
}
