.c-contact-form {
  background-color: var(--primary-color-support);
  padding: 5rem 2.5rem;
  font-size: 17px;
  border-radius: 5px;
}

.c-contact-form input,
.c-contact-form textarea {
  background-color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  line-height: 1.6;
  padding: 11px 10px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.c-contact-form textarea {
  width: 100%;
}

.c-contact-form label {
  display: block;
  color: var(--text-color-light);
  font-weight: 600;
  font-size: var(--font-s-body);
}

.c-contact-form button[type="submit"] {
  border: none;
  border-radius: 5px;
  background-color: var(--support-color);
  color: var(--text-color-light);
  font-family: var(--title-font);
  font-size: var(--font-s-title-sm);
  text-transform: uppercase;
  padding: 7px 50px;
}
.c-contact-form button[type="submit"]:hover {
  background-color: var(--primary-color-support-2);
}

.c-contact-form input::placeholder,
.c-contact-form textarea::placeholder {
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .c-contact-form button {
    width: 100%;
  }
}
