/*IMG TEXT HORIZ*/
.c-img-text-horiz {
  color: var(--primary-color-support);
  font-size: var(--font-s-body); /*TODO review font-size with 18px*/
  font-weight: 300;
  line-height: 2;
}

.c-img-text-horiz--right {
  text-align: right;
}
@media screen and (max-width: 991px) {
  .c-img-text-horiz {
    text-align: center;
  }
  .c-img-text-horiz img {
    margin: 0 auto 1rem;
  }
}

/*IMG TEXT VERT*/
.c-img-text-vert {
  text-align: center;
}
.c-img-text-vert__icon {
  width: 125px;
  margin-bottom: 30px;
}
.c-img-text-vert__text {
  font-size: var(--font-s-body);
  font-weight: 600;
  color: var(--primary-color);
}

@media screen and (max-width: 991px) {
  .c-img-text-vert--right-arrow:after {
    display: none;
  }
}

/*
IMage title text box
*/
.c-img-tit-text-box {
  display: block;
  height: 100%;
  padding: 2rem 4rem;
  border: 3px solid var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color-dark);
}

.c-img-tit-text-box:hover {
  text-decoration: none;
  color: inherit;
}
.c-img-tit-text-box:hover {
  background-color: var(--support-color1);
  transition: background-color 0.8s;
}

.c-img-tit-text-box:hover .c-img-tit-text-box__title {
  color: var(--text-color-light);
  transition: color 0.8s;
}

.c-img-tit-text-box__title {
  color: var(--support-color1);
}

/*
IMage title text box quote
*/

.c-img-tit-text-quote h2 {
  color: var(--support-color2);
  text-transform: uppercase;
}
