/*IMG TEXT HORIZ*/
.c-img-text-horiz {
  color: var(--primary-color-support);
  font-size: var(--font-s-body); /*TODO review font-size with 18px*/
  font-weight: 300;
  line-height: 2;
}

.c-img-text-horiz--right {
  text-align: right;
}
@media screen and (max-width: 991px) {
  .c-img-text-horiz {
    text-align: center;
  }
  .c-img-text-horiz img {
    margin: 0 auto 1rem;
    max-width: 90vw;
  }
  .c-img-text-horiz--left .row {
    flex-direction: column-reverse;
  }
  .c-img-text-horiz p {
    margin-bottom: 3rem;
  }
}

/*IMG TEXT VERT*/
.c-img-text-vert {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .c-img-text-vert {
    margin-bottom: 4rem;
  }
}

.c-img-text-vert__icon {
  width: 125px;
  margin-bottom: 30px;
}

.c-img-text-vert__icon--scale-down {
  height: 150px;
}
.c-img-text-vert__text {
  font-size: var(--font-s-body);
  font-weight: 600;
  color: var(--primary-color);
}

@media screen and (max-width: 991px) {
  .c-img-text-vert--right-arrow:after {
    display: none;
  }
}

/*
IMage title text box
*/
.c-img-tit-text-box {
  display: block;
  height: 100%;
  padding: 3rem 3rem;
  border: 1px solid var(--primary-color-support-2);

  text-decoration: none;
  color: var(--primary-color);
  border-radius: 5px;
}

.c-img-tit-text-box img {
  display: block;
  margin: auto;
}

.c-img-tit-text-box:hover {
  background-color: var(--primary-color-support-3);
  border-color: var(--primary-color-support-3);
  transition: background-color 0.8s;
  text-decoration: none;
  color: inherit;
}

.c-img-tit-text-box__title {
  color: var(--support-color);
  font-family: var(--title-font);
  font-size: var(--font-s-title-sm);
  text-transform: uppercase;
  margin: 25px 0 45px 0;
  text-align: center;
}

.c-img-tit-text-box__link {
  color: var(--primary-color);
  text-align: center;
  transition: color 0.8s;
  display: block;
  text-align: center;
  cursor: pointer;
}
.c-img-tit-text-box:hover .c-img-tit-text-box__link {
  color: var(--support-color);
  text-decoration: none;
}

.c-img-tit-text-box__link i {
  position: relative;
  top: 3px;
  margin-left: 3px;
}
.c-img-tit-text-box:hover .c-img-tit-text-box__link .c-img-tit-text-box__text {
  text-align: center;
}

/*
IMage title text box quote
*/

.c-img-tit-text-quote h2 {
  color: var(--support-color2);
  text-transform: uppercase;
}
