.c-servicios-content {
  color: var(--primary-color);
}

.c-servicios-content__title {
  font-size: var(--font-s-title-lg);
  color: var(--support-color);
  text-transform: uppercase;
  padding: 3rem 0 2rem;
  font-family: var(--title-font);
}
@media screen and (max-width: 576px) {
  .c-servicios-content__title {
    padding-top: 1rem;
  }
}


.c-servicios-content__list-title {
  font-size: var(--font-s-title-sm);
  
  color: var(--support-color);
  
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  .c-servicios-content__list-title {
    font-weight: 600;
  }
}
.c-servicios-content__list {
  color: var(--primary-color);
  padding-left: 10px;
  list-style: circle;
}

/* .c-servicios-content__list-item:before {
  content: "\00b7";
  font-size: 1.5em;
  line-height: 0.5em;
  position: relative;
  left: -10px;
  top: 3px;
} */
