.c-section-heading{
    margin: 10rem auto 6rem auto;
}

@media screen and (max-width: 991px){
    .c-section-heading{
        margin: 6rem auto 4rem auto;
    }
}

.c-section-heading-border{
    border-top: 2px solid var(--primary-color);
height: 19px;

}

.c-section-heading-border .c-section-heading__title{
    display: inline-block;
zoom: 1;
vertical-align: top;
-webkit-box-sizing: border-box;
box-sizing: border-box;
letter-spacing: 1.5px;
margin-top: -21px;
padding: 7px 20px;
}
.c-section-heading__title{
    font-family: var(--main-font), Circe,Arial,Helvetica,sans-serif;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #fcfcf0;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
}