.c-section-heading {
  margin: 7.5rem auto 7rem auto;
}

.c-section-heading--inner {
  color: var(--support-color);
  font-family: var(--title-font);
  font-size: var(--font-s-title);
}
.c-section-heading-border {
  border-top: 3px solid var(--primary-color);
  height: 19px;
}
.c-secction-heading--small-mt {
  margin: 0 auto 4rem auto;
}

.c-section-heading__title {
  font-family: var(--title-font);
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--text-color-light);
  font-size: var(--font-s-title);
  /* font-weight: 700; */
  height: 60px;

  text-transform: uppercase;
}
.c-section-heading-border .c-section-heading__title {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  margin-top: -30px;
  padding: 10px 50px;
  border: 4px solid white;
}

.c-section-heading-border .c-section-heading__title--long {
  /* This should use a longer column span than the regular one */
  padding: 10px 30px;
}

@media screen and (max-width: 991px) {
  .c-section-heading {
    margin: 6rem auto 4rem auto;
  }
}
