.u-bkg-dark {
  background-color: var(--primary-color);
}

.u-bkg-dark-2 {
  background-color: var(--primary-color-support);
}

.u-align-center {
  text-align: center;
}

.u-lg-row-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 991px) {
  .u-lg-row-reverse {
    flex-direction: row;
  }
}

/*
Margins
*/

.u-mb-xl {
  margin-bottom: 15rem;
}
@media screen and (max-width: 768px) {
  .u-mb-xl {
    margin-bottom: 10rem;
  }
}

.u-mb-l {
  margin-bottom: 7rem;
}

.u-mb-m {
  margin-bottom: 5rem;
}

.u-mb-sm {
  margin-bottom: 2rem;
}

.u-my-xl {
  margin: 10rem auto 10rem auto;
}

@media screen and (max-width: 991px) {
  .u-my-xl {
    margin: 6rem auto 6rem auto;
  }
}
.u-ml-m {
  margin-left: 2rem;
}

.u-pl-m {
  padding-left: 2rem;
}

.u-pb-m {
  padding-bottom: 4rem;
}

.u-pb-xl {
  padding-bottom: 11rem;
}

@media screen and (max-width: 576px) {
  .u-pb-m {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 991px) {
  .u-pl-m {
    padding-left: 0rem;
  }
}
.u-py-l {
  padding: 7rem 0 7rem 0;
}
@media screen and (max-width: 768px) {
  .u-py-l {
    padding: 4rem 0 4rem 0;
  }
}
@media screen and (max-width: 576px) {
  .u-py-l {
    padding: 2rem 0 2rem 0;
  }
}

/* Transforms */
.u-scale-sm {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 576px) {
  .u-container-sm-disappear {
    padding-left: 0;
    padding-right: 0;
  }
}
