:root {
  --primary-color: #4a4a4a;
  --primary-color-support: #666;

  --support-color: #b3648f;

  /*Fonts */

  --main-font: "Zilla Slab", serif;
  --title-font: "IM Fell DW Pica SC", serif;
  /* Font sizes */
  --font-s-main-quotes: 28px;
  --font-s-quote-data: 18px;
  --font-s-body: 20px;
  --font-s-body-sm: 16px;
  --font-s-title: 30px;
  --font-s-title-sm: 24px;
  --font-s-title-lg: 36px;

  /*Font colors*/
  --text-color-dark: #000;
  --text-color-medium: #595959;
  --text-color-medium-alt: rgba(255, 255, 255, 0.5);
  --text-color-light-grey: #eee;
  --text-color-light: #fff;
}

body {
  font-family: var(--main-font);
}
