:root {
  --primary-color: #4a4a4a;
  --primary-color-support: #666;
  --primary-color-support-2: #bcbcbc;
  --primary-color-support-3: #f0f0f0;

  --support-color: #b3648f;

  --text-color-light: #fff;

  /*Fonts */

  --main-font: "Zilla Slab", serif;
  --title-font: "IM Fell DW Pica SC", serif;
  /* Font sizes */
  --font-s-main-quotes: 28px;
  --font-s-quote-data: 18px;
  --font-s-body: 20px;
  --font-s-body-sm: 16px;
  --font-s-title: 30px;
  --font-s-title-sm: 24px;
  --font-s-title-lg: 36px;
}

@media screen and (max-width: 576px) {
  :root {
    /* Font sizes */
    --font-s-main-quotes: 24px;
    --font-s-quote-data: 14px;
    --font-s-body: 16px;
    --font-s-body-sm: 12px;
    --font-s-title: 21px;
    --font-s-title-sm: 20px;
    --font-s-title-lg: 32px;
  }
}

