@import "partials/variables.css";
@import "partials/utils.css";
@import "partials/u-backgrounds.css";
@import "partials/c-header.css";
@import "partials/c-quote.css";
@import "partials/c-section-heading.css";
@import "partials/c-img-text.css";
@import "partials/c-carousel.css";
@import "partials/c-message-panel.css";
@import "partials/c-bordered-list.css";
@import "partials/c-servicios-content.css";
@import "partials/c-servicio-link-box.css";
@import "partials/c-contact-form.css";
@import "partials/c-footer.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  font-size: 18px;
}

button::-moz-focus-inner {
  border: 0;
}
*:focus {
  outline: none;
}

[id] {
  scroll-margin-top: 120px;
}

.main-content {
  padding-top: 82px;
}

.c-to-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 45px;
  height: 45px;
  color: var(--text-color-light);
  background-color: var(--support-color1);
  text-align: center;
  line-height: 45px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 5px;
}

.c-to-top:hover {
  background-color: var(--support-color1--dark);
  color: var(--text-color-light);
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-chevron-right {
  width: 0.6787109375em;
}

.icon-chevron-left {
  width: 0.75em;
}
